<div class="row">
<div class="col-sm-6" style="padding-top:100px;">
	<h2 class="text-center">Uh oh! (404 Error)</h2>
	<h3 class="text-center">You messed up bad. </h3>
	 <h3 class="text-center">Now you have to deal with <a href="http://en.wikipedia.org/wiki/Zardoz" target="_blank">Zed</a>.</h3>

</div>
<div class="col-sm-6 text-center"><img src="./img/zardoz.jpg" alt="404" height="500" ></div>
</div>
	