
<div class="row">
<div class="col-sm-8">
<h4> This web app was written in <a href="http://nodejs.org/" target="_blank">NodeJS</a> using a <a target="_blank" href="https://www.npmjs.org/package/jshint">JSHint</a> for javascript linting and <a target="_blank" href="https://www.npmjs.org/package/html5-lint">Mozilla's HTML5 Validator instance</a> for HTML error checking.</h4>

<p><a href="http://jshint.com/" target="_blank">JSHint</a> is a community-driven tool to detect errors and potential problems in JavaScript code.  To learn more please visit <a  target="_blank" href="http://jshint.com">http://jshint.com</a></p>

<p><a href="https://github.com/mozilla/html5-lint" target="_blank">html5-lint</a> is a node.js module that uses Mozilla's HTML5 validator instance to error check html code.  You can also check the <a href="http://validator.w3.org/" target="_blank">W3C markup validation service</a> for more information on markup validity of web documents.</p>

<p>If you would like more info on this app or have any suggestions please contact me at <a href="mailto:david@davidkindler.com" >david@davidkindler.com</a></p>
</div>
<div class="col-sm-4">
	

</div>
</div>