
<div class="row">
<div class="col-sm-12">
<h4>Have a suggestion, complaint, comment or just want to chat?</h4>
<p>Please contact me at <a href="mailto:david@davidkindler.com" >david@davidkindler.com</a></p>
</div>
</div>